
.layout {
  display: grid;
  grid-template-columns: 270px 1fr;     
  min-height: 100vh;
  
}

.sidebar {
  background: rgb(242, 244, 246);
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: sticky;  
  top: 0;
  height: 100vh;
}

.sidebar__brand {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 30px 16px 30px;
}

.sidebar__title .app-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
}
.sidebar__title .app-sub {
  font-size: 14px;
   color: rgb(71, 70, 70);
}

.sidebar__nav {
  padding: 10px;
}

.nav-group {
  display: grid;
  gap: 20px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid transparent;
  background: transparent;
  text-decoration: none; 
  color: black; 
  font-size: 16px;
}

.sidebar__footer {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 14px;
}

.user-info .user-name {
  font-weight: 200;
  line-height: 1.9;
}

.user-info .user-email {
  font-size: 12px;
   color: rgb(71, 70, 70);
}
